node_modules/

webapp/.venv/
webapp/__pycache__/
webapp/**/__pycache__/
webapp/.env

data/

logs/
*.log

.DS_Store
.env

_old/

node-red/flows_cred.json
node-red/.config.*.json
node-red/.flows.json.backup

media/*
!media/00 qlab workspaces/
!media/00 qlab workspaces/**